.MainBanner {
  @apply bg-primary py-[5rem];
  min-height: 100vh;
  /* opacity: 0; */

  /* &-noActive {
  } */
  &-movie {
    @apply grid grid-cols-2;
    gap: 8rem;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    &.fadeIn {
      opacity: 1;
    }

    &-pictures {
      @apply flex;
      picture {
        img {
          @apply w-full;
        }
        &:nth-child(2) {
          @apply flex items-center;
          margin-left: -10rem;
        }
      }
    }
    &-info {
      @apply text-white flex flex-col justify-center;
      h1 {
        @apply text-[7rem] leading-[8rem] mb-[3rem];
      }
      p,
      button,
      a {
        @apply text-[2rem];
      }
    }
    &-btn {
      @apply font-semibold inline-flex bg-white text-primary px-[2.5rem] py-[1.5rem] mt-[3rem] isolate relative overflow-hidden;
      border-radius: 1rem;

      &.review {
        @apply ml-[4rem];
      }
    }
    &-swiper {
      @apply text-center;
      picture {
        @apply flex items-center justify-center flex-col;
        margin-top: 8rem;
        img {
          border-radius: 1rem;
        }
      }
      h2 {
        @apply text-[2rem] text-white leading-[2.8rem] mt-[1.5rem];
      }
      span {
        @apply text-[2rem] text-white leading-[2rem];
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
