.MainBanner {
  @apply bg-primary py-[2rem] xl:py-[5rem];
  min-height: 100vh;

  &-movie {
    @apply grid md:grid-cols-2 gap-10 xl:gap-[8rem] mt-12 xl:mt-24;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease-in; */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    &.fadeIn {
      /* opacity: 1; */
    }

    &-pictures {
      @apply flex;
      img {
        @media screen(lg) {
          @apply w-full;
        }
      }
      picture {
        &:nth-child(1) {
          @apply hidden;
          @media screen(md) {
            @apply block;
          }
        }
        &:nth-child(2) {
          @media screen(md) {
            @apply flex items-center;
            margin-left: -10rem;
          }
        }
      }
    }
    &-info {
      @apply text-white flex flex-col justify-center;
      h2 {
        @apply text-[2.2rem] xl:text-[7rem] xl:leading-[8rem] mb-[3rem];
      }
      p {
        @apply text-[1.4rem] xl:text-[2rem];
      }
    }
    &-btn {
      @apply font-semibold  inline-flex bg-white text-primary px-[2.5rem] py-[1.5rem] mt-[3rem] isolate relative overflow-hidden;
      border-radius: 1rem;

      &.review {
        @apply ml-[4rem];
      }
    }
    &-swiper {
      @apply text-center overflow-hidden;
      .swiper-initialized {
        @apply overflow-hidden max-w-full;
      }
      picture {
        @apply flex items-center justify-center flex-col;
        margin-top: 8rem;
        img {
          border-radius: 1rem;
        }
      }
      h2 {
        @apply text-[2rem] text-white leading-[2.8rem] mt-[1.5rem];
      }
      span {
        @apply text-[2rem] text-white leading-[2rem];
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
