.Header {
  /*/@apply overflow-x-hidden overflow-y-visible;*/
  &-container{
    @apply flex justify-between;
  }
  &-options {
    @apply relative;
    &.isActive {
      .Header-options-menu {
        opacity: 1;
        visibility: visible;
      }
    }
    &-menu {
      @apply flex flex-col w-[20rem] bg-primary border border-white py-2 px-2  opacity-0 invisible absolute;
      top: 100%;
      transition: all 0.5s ease;
      li {
        @apply px-4 py-4 flex items-center;
        transition: background 0.5s ease;
        &:hover {
          @apply bg-secondary;
        }
      }
    }
  }

  
}
