@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}
body {
  &.scroll {
    @apply overflow-hidden;
  }
}

picture {
  @apply block w-full h-full overflow-hidden;
}

img {
  @apply max-w-full h-auto object-cover;
}

input,
select,
textarea {
  @apply w-full border-none bg-none;

  &:focus {
    @apply outline-none;
  }
}

textarea {
  resize: none;
}

.Card-p {
  height: 7rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @media screen(xl) {
    height: 16rem;
    -webkit-line-clamp: 6;
  }
}
.Button {
  transition: all 0.5s ease;
}
.menu-icon {
  @apply relative isolate;
  z-index: 21;
  &.hamburguer {
    height: 6rem;
    width: 6rem;
    transition-property: background-color, height, width;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    @apply flex justify-center items-center relative cursor-pointer bg-secondary;
    @media screen(xl) {
      @apply hidden;
    }
    span {
      height: 0.4rem;
      width: 3.4rem;
      transition: transform 0.5s ease, background-color 0.5s ease;
      @apply bg-primary inline-block absolute mx-auto rounded-2xl;
    }
    span:nth-child(1) {
      transform: translateY(-0.8rem);
    }

    span:nth-child(3) {
      transform: translateY(0.8rem);
    }

    /* Animacion cuando "isActive" es true */
    &.change {
      width: 3.8rem;
      height: 3.8rem;
      border: 2px solid #070a52;
      margin: auto 0;
      @apply bg-transparent rounded-full;
      span {
        @apply bg-primary;
      }
      span:nth-child(1) {
        transform: rotateZ(42.19deg) scale(0.45);
      }

      span:nth-child(2) {
        @apply opacity-0;
      }

      span:nth-child(3) {
        transform: rotateZ(-42.19deg) scale(0.45);
      }

      .bg-menu {
        opacity: 1;
      }
    }
  }
}
.Overlay {
  @apply min-h-screen bg-black/80 fixed inset-0;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  &.isActive {
    visibility: visible;
    opacity: 1;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
