@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}
body {
  &.no-scroll {
    @apply overflow-hidden;
  }
}

picture {
  @apply block w-full h-full overflow-hidden;
}

img {
  @apply max-w-full h-auto object-cover;
}

input,
select,
textarea {
  @apply w-full border-none bg-none;

  &:focus {
    @apply outline-none;
  }
}

textarea {
  resize: none;
}

.Card-p {
  height: 16rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.Button {
  transition: all 0.5s ease;
}
